.__trust_score {
  display: grid;
  place-content: center;
  font-size: 48px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-weight: 800;
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999999999;
  color: rgba(0, 0, 0, 0.8);
  border: 1.2px #000 solid;
  background-color: #f8cf00a4;
  backdrop-filter: blur(30px);
  cursor: none;
}
.__trust_score:hover {
  background-color: #f8cf0063;
}

.__dark_pattern {
  padding: 4px;
  position: relative;
  background-color: #f8cf008c;
  border: 2px solid #000000 !important;
  z-index: 99999999 !important;
  overflow: visible !important;
  animation: colorChange 1s infinite !important;
}
.__message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -45px;
  right: 0;
  color: #000000;
  height: 40px;
  min-width: max-content;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #f8cf00bc;
  /* animation: colorChange 3s infinite !important; */
  visibility: hidden;
  opacity: 0;
  transition: visibilty 0.3s, opacity 0.3s;
  z-index: 100000000 !important;
}
.__dark_pattern:hover .__message {
  visibility: visible;
  opacity: 1;
}

.__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes colorChange {
  0% {
    background-color: #fd3232d7;
  }
  50% {
    background-color: #f8cf008c;
  }
  100% {
    background-color: #fd3232d7;
  }
}
